.nft-market-wrapper {
  .nft-heading-top {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 10px;
    margin-top: 30px;
    .nft-heading {
      margin: 40px 0px 0px 0px;
      font-family: "Roboto";
      font-size: 26px;
      font-style: normal;
      font-weight: 500;
      margin: 0px;
    }
    .listings {
      font-family: "Roboto";
      font-size: 20px;
      font-style: normal;
      font-weight: 400;
      margin: 0px;
    }
  }

  .nft-sub-heading {
    margin: 0px;
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
  }
  .nft-all-market {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
    .market-wrapper {
      max-width: 425px;
      display: flex;
      flex-direction: row;
      align-items: center;
      column-gap: 20px;

      .market-list {
        list-style-type: none;
        font-family: "Roboto";
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        text-align: left;
        color: rgba(0, 0, 0, 0.5);
        padding: 5px 15px 5px 15px;
        border-radius: 20px;
        background: #dcdcdc;
        cursor: pointer;
      }
      .market-list-unSelected {
        list-style-type: none;
        font-family: "Roboto";
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        text-align: left;
        color: rgba(0, 0, 0, 0.5);
        padding: 5px 15px 5px 15px;
        border-radius: 20px;
        cursor: pointer;
      }
    }
  }
  .product-detail-wrapper {
    margin-top: 20px;
    height: 100%;
    row-gap: 20px;
    .video {
      width: 100%;
      height: 700px;
      background-image: url("../../bg/detail-video-img.png");
      background-repeat: no-repeat;
      background-size: cover;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border-radius: 10px;

      .detail-play-button {
        width: 94px;
        height: 94px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background: white;
        border-radius: 50%;
        > img {
          width: 94px;
          height: 94px;
        }
      }
    }
    .detail-wrapper {
      height: 700px;
      border: 0.5px solid rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      border-radius: 10px;
      padding: 10px 25px 1px 25px;
      .detail-top {
        .detail-top-heading {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          > p {
            font-family: "Roboto";
            font-size: 24px;
            font-style: normal;
            font-weight: 500;
          }
          > img {
            cursor: pointer;
          }
        }
        .detail-second-heading {
          display: flex;
          flex-direction: row;
          align-items: center;
          column-gap: 5px;
          .detail-heading-by {
            font-family: "Roboto";
            font-size: 15px;
            font-style: normal;
            font-weight: 300;
            color: rgba(0, 0, 0, 0.5);
          }
          .detail-heading-alanwalk {
            font-family: "Roboto";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
          }
          > img {
            width: 16px;
            height: 16px;
          }
        }
      }

      .detail-mid-block {
        background: #f7f7f7;
        border-radius: 10px;
        margin-top: 15px;
        .detail-third-heading {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 10px 50px 0px 50px;
          border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);

          > p {
            font-family: "Roboto";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
          }
        }
        .detail-mid-top {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          padding: 20px 40px 0px 30px;

          .detail-mid-left {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            .detail-eth-price {
              font-family: "Roboto";
              font-size: 26px;
              font-style: normal;
              font-weight: 500;
            }
            > img {
              width: 18px;
              height: 32px;
              margin-right: 10px;
            }
          }
          .detail-mid-right {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-end;
            > p {
              font-family: "Roboto";
              font-size: 26px;
              font-style: normal;
              font-weight: 500;
              margin: 0px;
              > span {
                font-family: "Roboto";
                font-size: 12px;
                font-style: normal;
                font-weight: 500;
                color: rgba(0, 0, 0, 0.5);
                margin-right: 2px;
              }
            }
          }
        }
        .placebid-button-wrap {
          padding: 0px 30px 20px 30px;
          .placebid-button {
            width: 100%;
            border: none;
            margin-top: 20px;
            background: linear-gradient(
              94.05deg,
              #f68fe0 0.97%,
              #fab9ab 40.39%,
              #fccb94 76.52%,
              #ffde7e 106.09%
            );
            border-radius: 10px;
            font-family: "Roboto";
            font-size: 16px;
            font-style: normal;
            font-weight: 500;
            padding: 10px;
          }
        }
      }
      .detail-bottom-block {
        background: #f7f7f7;
        border-radius: 10px;
        margin-top: 15px;
        margin-bottom: 15px;
        .offers-wrap {
          padding: 10px 0 10px 20px;

          > p {
            font-family: "Roboto";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            margin: 0px;
          }
        }

        .table-detail {
          .table-heading {
            height: 40px;
            text-align: center;
            font-family: "Roboto";
            font-size: 12px;
            font-style: normal;
            font-weight: 400;
            color: rgba(0, 0, 0, 0.45);
            border-top: 0.5px solid rgba(0, 0, 0, 0.3);
            .price {
              text-align: left;
              padding-left: 15px;
            }
          }
          .table-rows {
            height: 40px;
            border-top: 0.5px solid rgba(0, 0, 0, 0.25);
            .img-price {
              padding-left: 15px;
              .eth-price {
                margin-left: 10px;
                font-family: "Roboto";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
              }
            }
            .price-usd {
              text-align: center;
              font-family: "Roboto";
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              color: rgba(0, 0, 0, 0.5);
            }
            .expiration {
              text-align: center;
              > p {
                font-family: "Roboto";
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                margin: 0px;
                > span {
                  font-family: "Roboto";
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 400;
                  color: rgba(0, 0, 0, 0.5);
                  margin-right: 2px;
                }
              }
            }
            .from-name {
              text-align: center;
              font-family: "Roboto";
              font-size: 14px;
              font-style: normal;
              font-weight: 400;
              color: rgba(62, 162, 255, 1);
              text-decoration: underline;
              cursor: pointer;
            }
          }
        }
      }
    }
    .description {
      height: 35vh;

      border: 0.5px solid rgba(0, 0, 0, 0.2);
      box-sizing: border-box;
      border-radius: 10px;
      margin-top: 40px;
      .description-heading {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding: 15px 0px 15px 25px;
        border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
        > img {
          margin-right: 20px;
        }
        > p {
          margin: 0px;

          font-family: "Roboto";
          font-size: 17px;
          font-style: normal;
          font-weight: 400;
        }
      }
      .history-graph {
        padding: 40px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        > canvas {
          width: 400px !important;
          height: 200px !important;
        }
      }
      > p {
        color: rgba(0, 0, 0, 0.65);
        padding: 35px;
        font-family: "Roboto";
        font-size: 0.83vw;
        font-size: 1.7vh;
        font-style: normal;
        font-weight: 400;
      }
    }
    .history {
    }
  }
  .sugested-nfts {
    margin: 30px 0px 30px 0px;
    .sugested-nfts-first {
      font-family: "Gilroy";
      font-size: 32px;
      font-style: normal;
      font-weight: 800;
      .sugested-nfts-second {
        font-family: "Gilroy";
        font-size: 36px;
        font-style: normal;
        font-weight: 800;
        color: rgba(255, 127, 98, 1);
        margin-left: 5px;
      }
    }
    .extraordinary-nfts {
      font-family: "Roboto";
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      margin-top: -15px;
    }
  }

  .nft-market-cards {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    .detail-card-prod {
      padding: 10px;
    }
  }
}

@media screen and (max-width: 425px) {
  .nft-market-wrapper {
    .nft-all-market {
      .market-wrapper {
        overflow: scroll;
      }
      .market-wrapper::-webkit-scrollbar {
        display: none;
      }
    }
    .product-detail-wrapper {
      margin-top: 20px;
      .video {
        width: 100%;
        height: 400px;
        background-image: url("../../bg/browse-card.svg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        .detail-play-button {
          width: 94px;
          height: 94px;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          background: white;
          border-radius: 50%;
          > img {
            width: 94px;
            height: 94px;
          }
        }
      }
      .detail-wrapper {
        margin-top: 20px;

        height: 100%;
        border: 0.5px solid rgba(0, 0, 0, 0.2);
        box-sizing: border-box;
        border-radius: 10px;
        padding: 10px 25px 1px 25px;
        .detail-top {
          .detail-top-heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            > p {
              font-family: "Roboto";
              font-size: 20px;
              font-style: normal;
              font-weight: 500;
              margin: 0px;
            }
            > img {
              cursor: pointer;
            }
          }
          .detail-second-heading {
            display: flex;
            flex-direction: row;
            align-items: center;
            column-gap: 5px;
            .detail-heading-by {
              font-family: "Roboto";
              font-size: 15px;
              font-style: normal;
              font-weight: 300;
              color: rgba(0, 0, 0, 0.5);
            }
            .detail-heading-alanwalk {
              font-family: "Roboto";
              font-size: 15px;
              font-style: normal;
              font-weight: 500;
            }
            > img {
              width: 16px;
              height: 16px;
            }
          }
          .detail-third-heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin: 20px 30px 0px 30px;
            > p {
              font-family: "Roboto";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
            }
          }
        }
        .detail-mid-block {
          background: #f7f7f7;
          border-radius: 10px;
          margin-top: 15px;
          .detail-third-heading {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px 50px 0px 50px;
            border-bottom: 0.5px solid rgba(0, 0, 0, 0.25);

            > p {
              font-family: "Roboto";
              font-size: 16px;
              font-style: normal;
              font-weight: 400;
            }
          }
          .detail-mid-top {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 20px 40px 0px 30px;

            .detail-mid-left {
              display: flex;
              flex-direction: row;
              justify-content: flex-start;
              align-items: center;
              .detail-eth-price {
                font-family: "Roboto";
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
              }
              > img {
                width: 18px;
                height: 32px;
                margin-right: 10px;
              }
            }
            .detail-mid-right {
              display: flex;
              flex-direction: row;
              justify-content: space-between;
              align-items: flex-end;
              > p {
                font-family: "Roboto";
                font-size: 20px;
                font-style: normal;
                font-weight: 500;
                margin: 0px;
                > span {
                  font-family: "Roboto";
                  font-size: 12px;
                  font-style: normal;
                  font-weight: 500;
                  color: rgba(0, 0, 0, 0.5);
                  margin-right: 2px;
                }
              }
            }
          }
          .placebid-button-wrap {
            padding: 0px 30px 20px 30px;
            .placebid-button {
              width: 100%;
              border: none;
              margin-top: 20px;
              background: linear-gradient(
                94.05deg,
                #f68fe0 0.97%,
                #fab9ab 40.39%,
                #fccb94 76.52%,
                #ffde7e 106.09%
              );
              border-radius: 10px;
              font-family: "Roboto";
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              padding: 10px;
            }
          }
        }
        .detail-bottom-block {
          > p {
            font-family: "Roboto";
            font-size: 16px;
            font-style: normal;
            font-weight: 400;
            margin: 0px;
          }
          .table-detail {
            .table-heading {
              height: 40px;
              text-align: center;
              font-family: "Roboto";
              font-size: 12px;
              font-style: normal;
              font-weight: 400;
              color: rgba(0, 0, 0, 0.45);
              border-top: 0.5px solid rgba(0, 0, 0, 0.5);
              .price {
                text-align: left;
              }
              .usd {
                display: none;
              }
            }
            .table-rows {
              height: 40px;
              border-top: 0.5px solid rgba(0, 0, 0, 0.25);
              .img-price {
                .eth-price {
                  margin-left: 10px;
                  font-family: "Roboto";
                  font-size: 14px;
                  font-style: normal;
                  font-weight: 400;
                }
              }
              .price-usd {
                display: none;
              }
              .expiration {
                text-align: center;
                > p {
                  font-family: "Roboto";
                  font-size: 16px;
                  font-style: normal;
                  font-weight: 500;
                  margin: 0px;
                  > span {
                    font-family: "Roboto";
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 400;
                    color: rgba(0, 0, 0, 0.5);
                    margin-right: 2px;
                  }
                }
              }
              .from-name {
                text-align: center;
                font-family: "Roboto";
                font-size: 14px;
                font-style: normal;
                font-weight: 400;
                color: rgba(62, 162, 255, 1);
                text-decoration: underline;
                cursor: pointer;
              }
            }
          }
        }
      }
      .description {
        height: auto;
        .description-heading {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;
          padding: 10px 0px 10px 20px;
          border-bottom: 0.5px solid rgba(0, 0, 0, 0.2);
          > img {
            margin-right: 20px;
          }
          > p {
            margin: 0px;

            font-family: "Roboto";
            font-size: 17px;
            font-style: normal;
            font-weight: 400;
          }
        }
        .history-graph {
          padding: 20px;
          > img {
            width: 300px;
            height: 150px;
          }
        }
        > p {
          padding: 20px;
          font-size: 0.63vw;
          font-size: 0.9vh;
        }
      }
    }
    .sugested-nfts {
      margin: 30px 0px 30px 0px;
    }

    .nft-market-cards {
      margin-top: 20px;
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      .detail-card-prod {
        width: 50%;
      }
    }
    .nft-market-button-wrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      margin: 40px 0px 40px 0px;

      .nft-market-button {
        border: none;
        background: linear-gradient(
          94.05deg,
          #f68fe0 0.97%,
          #fab9ab 40.39%,
          #fccb94 76.52%,
          #ffde7e 106.09%
        );
        border-radius: 40px;
        font-family: "Roboto";
        font-size: 15px;
        font-style: normal;
        font-weight: 500;
        padding: 10px 25px 10px 25px;
      }
    }
  }
}
