.topCollectionWrapper {
  .sellersHeading {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    .topSellers {
      font-family: "Gilroy-Bold";
      font-weight: 800;
      font-size: 32px;
    }
    .sellersYear {
      color: red;
      font-family: "Gilroy-Bold";
      font-weight: 800;
      font-size: 36px;
      margin-left: 10px;
    }
  }
  .sellExtraordinary {
    font-family: "Roboto";
    font-weight: 400;
    font-size: 16px;
    margin: 0px;
  }
  .BrowseCardWrapper {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin-top: 50px;
    .cardWrap {
      flex: 1;
      margin-bottom: 40px;
    }
  }
  .browseButton {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    .nftButton {
      font-family: "Roboto";
      font-weight: 500;
      font-size: 15px;
      border: none;
      border-radius: 40px;
      color: black;
      padding: 10px 20px 10px 20px;
      margin-top: 15px;
      margin-bottom: 15px;
      background: linear-gradient(
        94.05deg,
        #f68fe0 0.97%,
        #fab9ab 40.39%,
        #fccb94 76.52%,
        #ffde7e 106.09%
      );
    }
  }
}

@media only screen and (max-width: 425px) {
  .topCollectionWrapper {
    .sellersHeading {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
    }
    .sellExtraordinary {
      font-family: "Roboto";
      font-weight: 400;
      font-size: 16px;
      margin: 0px;
    }
    .BrowseCardWrapper {
      display: flex;
      flex-direction: row;
      justify-content: center;
      flex-wrap: wrap;
      margin-top: 50px;
      margin-left: 60px;
      .cardWrap {
        flex: 1;
        margin-bottom: 40px;
      }
    }
    .browseButton {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      .nftButton {
        font-family: "Roboto";
        font-weight: 500;
        font-size: 15px;
        border: none;
        border-radius: 40px;
        color: black;
        padding: 10px 20px 10px 20px;
        margin-top: 15px;
        margin-bottom: 15px;
        background: linear-gradient(
          94.05deg,
          #f68fe0 0.97%,
          #fab9ab 40.39%,
          #fccb94 76.52%,
          #ffde7e 106.09%
        );
      }
    }
  }
}
