.card-wrap {
  background: #f8f8f8 !important;
  border: 0.5px solid rgba(0, 0, 0, 0.5) !important;
  box-sizing: border-box !important;
  border-radius: 12px !important;
  .card-img-wrapp {
    position: relative;
    .card-play-button {
      position: absolute;
      right: 10px;
      bottom: 15px;
      cursor: pointer;
    }
  }
  .browseCardBottom {
    .cardDetail {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding-bottom: 0px !important;
      .cardLeft {
        .theWeekend {
          margin: 0px;
          font-size: 16px;
          line-height: 18px;
          margin-bottom: 5px;
          font-weight: 500;
          font-family: "Roboto";
        }
        .walkerWrapper {
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
          align-items: center;

          .by {
            font-size: 11px;
            font-weight: 300;
            color: #8480a0;
            font-family: "Roboto";
          }
          .walkerMusic {
            font-size: 12px;
            font-weight: 500;
            margin-left: 5px;
            text-decoration: underline;
            font-family: "Roboto";
          }
          > img {
            margin-left: 5px;
            width: 11px;
            height: 11px;
          }
        }
      }
      .cardRight {
        text-align: end;
        .etheriumWrapper {
          display: flex;
          flex-direction: row;
          color: black;
          align-items: center;
          margin-bottom: 5px;

          > img {
            width: 9px;
            height: 16px;
            margin-right: 10px;
          }
          .count {
            margin: 0px;
            font-size: 19px;
            font-weight: 700;
            font-family: "Roboto";
            margin-right: 0px;
          }
        }

        .price {
          margin: 0px;
          font-size: 12px;
          font-weight: 500;
          font-style: normal;
          font-family: "Roboto";
        }
      }
    }
    .buyNow {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      font-weight: 500;
      margin-left: 5px;
      margin-right: 5px;
      font-family: "Roboto";
      font-size: 16px;
      > span {
        color: #2081e2;
        cursor: pointer;
      }
      > img {
        cursor: pointer;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .card-wrap {
    .card-img-wrapp {
      position: relative;
      .card-play-button {
        position: absolute;
        right: 10px;
        bottom: 15px;
        cursor: pointer;
        > img {
          width: 16px;
          height: 16px;
        }
      }
    }
    .browseCardBottom {
      .cardDetail {
        .cardLeft {
          .theWeekend {
            margin: 0px;
            font-size: 10px;
            line-height: 18px;
            margin-bottom: 5px;
            font-weight: 500;
            font-family: "Roboto";
          }
          .walkerWrapper {
            display: none;
          }
        }
        .cardRight {
          .etheriumWrapper {
            display: flex;
            flex-direction: row;
            color: black;
            align-items: center;
            margin-bottom: 5px;

            > img {
              width: 9px;
              height: 12px;
              margin-right: 2px;
            }
            .count {
              margin: 0px;
              font-size: 12px;
              font-weight: 700;
              font-family: "Roboto";
              margin-right: 0px;
            }
          }
          .price {
            display: none;
          }
        }
      }
      .buyNow {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        font-weight: 500;
        margin-left: 5px;
        margin-right: 5px;
        font-family: "Roboto";
        font-size: 12px;
        > span {
          color: #2081e2;
          cursor: pointer;
        }
        > img {
          cursor: pointer;
        }
      }
    }
  }
}
