.nftCollectionWrapper {
  margin-top: 10%;

  .collectionNFT {
    font-family: "Gilroy-Bold", sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    text-align: left;
  }
  .discoverNFT {
    font-family: "Roboto";
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    text-align: left;
  }

  .carouselWrapper {
    height: 450px;
    .innerSlider {
      height: 450px;
    }
    .itemClass {
    }
    .containerClass {
    }
    .dotClass {
      column-gap: 15px;
      .react-multi-carousel-dot button {
        background-color: rgba(255, 158, 136, 0.25);
        border: none;
      }
      .react-multi-carousel-dot--active button {
        background-color: rgba(255, 158, 136, 0.45);
        border: none;
      }
    }
    .react-multiple-carousel__arrow--left {
      background-color: #f2f2f2;
      color: darkblue;
      position: absolute;
      left: 10px;
      overflow: visible;
    }
    .react-multiple-carousel__arrow--right {
      background-color: #f2f2f2;
      position: absolute;
      right: 30px;
    }
    .react-multiple-carousel__arrow::before {
      color: #a4a4a4;
    }
  }
}

@media only screen and (max-width: 768px) {
  .nftCollectionWrapper {
    .carouselWrapper {
      height: 450px;
      .innerSlider {
        height: 450px;
        margin-left: 20%;
      }
    }
  }
}

@media only screen and (max-width: 578px) {
  .nftCollectionWrapper {
    margin-top: 10%;
    background-color: white;
    .collectionNFT {
      font-family: "Gilroy-Bold", sans-serif;
      font-size: 26px;
      font-style: normal;
      font-weight: 800;
      text-align: center;
    }
    .discoverNFT {
      font-family: "Roboto";
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      text-align: center;
    }
    .carouselWrapper {
      height: 450px;
      .innerSlider {
        height: 450px;
        margin-left: 50px;
      }

      .react-multiple-carousel__arrow--left {
        left: 0px;
      }
      .react-multiple-carousel__arrow--right {
        right: 0px;
      }
    }
  }
}
